*.dat
*.exe
*.dll
*.idb
*.id0
*.id1
*.id2
*.nam
*.til
*.o
*.out
*.elf
*.dol
*.a
*.d
*.map
*.exe
*.dump
*.7z
*.bat
*.sln
*.filters
*.vcxproj
*.user
*.csv
include/*.s

build/
tools/mwcc_compiler/*    
!tools/mwcc_compiler/.gitkeep
!aoi.exe
decomp/
errors.txt
output.asm
Debug/
.vs/
.vscode/*.log

ctx.c
out-ok.txt
out.txt
.DS_Store
sheet.py
sheet.csv
sheet.tsv
*.lnk
*.log
build.ninja
__pycache__
.ninja_deps
.ninja_log
newlines.py
objdiff.json
docs/

tools/progress.csv
tools/download_mwcc.py
tools/download_ppc.py
tools/mwcc_compiler/.gitkeep
tools/powerpc/powerpc-eabi-addr2line
tools/powerpc/powerpc-eabi-ar
tools/powerpc/powerpc-eabi-as
tools/powerpc/powerpc-eabi-c++filt
tools/powerpc/powerpc-eabi-elfedit
tools/powerpc/powerpc-eabi-embedspu
tools/powerpc/powerpc-eabi-ld
tools/powerpc/powerpc-eabi-ld.bfd
tools/powerpc/powerpc-eabi-nm
tools/powerpc/powerpc-eabi-objcopy
tools/powerpc/powerpc-eabi-objdump
tools/powerpc/powerpc-eabi-ranlib
tools/powerpc/powerpc-eabi-readelf
tools/powerpc/powerpc-eabi-size
tools/powerpc/powerpc-eabi-strings
tools/powerpc/powerpc-eabi-strip
tools/mwcc_compiler/.gitkeep
